body {
    font-family: Arial, sans-serif;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    text-align: center;
}

div#form {
    max-width: 600px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    padding: 30px;
}

input{
    margin-top: 10px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="number"]{
    width: 90%;
    padding: 8px;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button#submit {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#reset {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: ghostwhite;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

#result{
    max-width: 600px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px; 
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bmi, #kategori{
    color: crimson;
}

#beratBadan, #usia, #tinggiBadan{
    position: relative;
}


#icon{
    position: absolute;
    padding-top:19px;
    padding-left: 10px;
    pointer-events: none;
    left: 0px;
}
 